@font-face {
  font-family: "iconfont"; /* Project id 4342177 */
  src: url('iconfont.woff2?t=1704371947738') format('woff2'),
       url('iconfont.woff?t=1704371947738') format('woff'),
       url('iconfont.ttf?t=1704371947738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e74a";
}

.icon-password:before {
  content: "\e629";
}

.icon-cloud:before {
  content: "\e7d9";
}

.icon-yidongduanshishi:before {
  content: "\e709";
}

.icon-tools:before {
  content: "\e762";
}

.icon-browsing-history-o:before {
  content: "\e601";
}

.icon-web:before {
  content: "\e68b";
}

.icon-Router:before {
  content: "\eab5";
}

.icon-paper:before {
  content: "\e602";
}

.icon-browsing-history:before {
  content: "\e64a";
}

.icon-email:before {
  content: "\e702";
}

.icon-privacy:before {
  content: "\e758";
}

.icon-ios:before {
  content: "\e626";
}

.icon-steam:before {
  content: "\e603";
}

.icon-meiguoguoqi-:before {
  content: "\e600";
}

.icon-zhongwen:before {
  content: "\e653";
}

.icon-fangxiang-xiangyou:before {
  content: "\e614";
}

.icon-File:before {
  content: "\e61c";
}

.icon-close:before {
  content: "\e646";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-system:before {
  content: "\e608";
}

.icon-qingtian:before {
  content: "\e631";
}

.icon-yueliang:before {
  content: "\e638";
}

.icon-yibiaopan:before {
  content: "\eab4";
}

.icon-mac:before {
  content: "\e667";
}

.icon-shuizhu:before {
  content: "\e6ac";
}

.icon-expand:before {
  content: "\e7a4";
}

.icon-29mac:before {
  content: "\e632";
}

.icon-search:before {
  content: "\e8ef";
}

